.reg_bg_image {
    background-image: url('./bg_registration.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  /* Ширина окна просмотра */
    height: 100vh; /* Высота окна просмотра */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    box-sizing: border-box; /* Учитываем отступы и границы в общей ширине и высоте */
}

.blur_card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    position: absolute;
    bottom: 10%;
    text-align: center;
    box-sizing: border-box; 
}

/* Adjust padding for smaller screens */
@media (max-width: 600px) {
    .blur_card {
        padding: 15px;
    }
}
