.purple_button {
    margin-top: 20px;
    width: 100%;
    background-color: #C036F1; /* Фиолетовый цвет фона */
    color: #f0f0f0; /* Белый цвет текста */
    padding: 20px 20px; /* Внутренние отступы для кнопки */
    border: none; /* Без границ */
    border-radius: 16px; /* Закругленные углы */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Inline-block для кнопки */
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.purple_button:hover {
    background-color: #993399; /* Фиолетовый при наведении (темнее) */
}
