.h1_text {
    margin: 1em;
    color: #fff;
    font-size: 24px;
}

.h2_text {
    margin: 1em;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* Adjust padding for smaller screens */
@media (max-width: 600px) {
    .h1_text {
        font-size: 20px;
    }

    .h2_text {
        font-size: 16px;
    }
}
